{% extends "skeleton.html" %}
{% block content %}    
    {% for post in posts %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">{{post.subject}} <br><small>{{post.created_by}} on {{post.created}}</small></h2>
                <p>{{post.content}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <a href="/edit-post-{{post.key().id()}}" class="btn btn-default btn-block">Edit Post</a>
            </div>

            <div class="col-md-4">
                <a href="/delete-post-{{post.key().id()}}" class="btn btn-default btn-block">Delete Post</a>
            </div>

            <div class="col-md-4">
                <a href="/like-post-{{post.key().id()}}" class="btn btn-default btn-block">Like Post</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}